<h2 class="screen-align">Test</h2>
<div id="template-i53n" class="gjs-row">
    <div id="template-i3ql" class="gjs-cell">
        <label id="template-i40f" class="label ">test2</label>
        <div id="template-iesm7" class="">
            <ng-select id="template-i356g" name="dynamicdropdown_template-i356g" [searchable]="true"
            [virtualScroll]="true" [items]="test2itemArray" bindLabel="name" bindValue="name"
            [(ngModel)]="test.test2" [ngModelOptions]="{standalone: true}" ngDefaultControl
            (click)="test2GpGetAllValues()" class="form-control "></ng-select>
        </div>
        <div id="template-ihw22" (click)="GpCreate()" class="button btn btn-primary ">Send</div>
        <div id="template-ix1e" class=""></div>
    </div>
    <div id="template-ifhz" class="gjs-cell">
        <label id="template-iawu" class="label ">test3</label>
        <div id="template-idonl" class="">
            <ng-select id="template-i5ayt" name="dynamicdropdown_template-i5ayt" [searchable]="true"
            [virtualScroll]="true" [items]="itemArray" bindLabel="" bindValue="" [(ngModel)]="test.test3"
            [ngModelOptions]="{standalone: true}" ngDefaultControl class="form-control "></ng-select>
        </div>
    </div>
</div>